---
interface Props {
  title: string;
  smTitle: string;
  xsTitle: string;
  subtitle: string;
  image: string;
  href: string;
}
const { title, subtitle, image, xsTitle, smTitle, href } = Astro.props;
---

<!-- TODO: container queries? -->
<a href="#" class="group xs:max-h-32 relative max-h-24 sm:max-h-48 md:max-h-60">
  <div class="relative z-10 flex gap-1">
    <img
      src={image}
      alt={title}
      class="xs:size-32 z-10 size-24 rounded-2xl object-cover sm:size-48 md:size-60"
    />

    <div class="xs:p-2 xs:h-32 flex h-24 flex-col justify-between p-1 sm:h-48 sm:p-4 md:h-60">
      <span class="max-xs:text-sm font-bold sm:text-lg md:text-2xl">
        <span class="max-sm:hidden">{title}</span>
        <span class="xs:inline hidden sm:hidden">{smTitle}</span>
        <span class="xs:hidden">{xsTitle}</span>
      </span>
      <span class="text-xs tracking-wide text-neutral-400 sm:text-sm md:text-lg">{subtitle}</span>
    </div>
  </div>
  <div
    class="absolute inset-0 h-full w-full scale-98 rounded-2xl bg-neutral-800/60 opacity-0 transition duration-200 group-hover:scale-100 group-hover:opacity-100"
  >
  </div>
</a>
